#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
.pagetitle {
    color: #800080;
}
.pagetext {
	color: #ffffff;
}

.centertext {
	text-align: center;
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}