<html>
 <head>
  <title>Submitted Form</title>
 <link rel="stylesheet" type="text/css" href="/static/style.css">
 <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script> 
   $(document).ready(function(){
    $("#renderHeader").load("header"); 
  });
</script>
  </head>
 <body>
   <div id="container">
     <div id="renderHeader"></div>
     <div class="pagetitle">
       <h1>Form submitted</h1>
     </div>
     <div id="main">
       <p>Thanks for your submission, {{name}}!</p>
       <p>Here's a review of the information that you sent:</p>
       <p>
          <strong>Name</strong>: {{name}} <br>
          <strong>Email</strong>: {{email}} <br>
          <strong>Flight Date</strong>: {{date}} <br>
          <strong>Earliest Departure Time</strong>: {{time_earliest}} <br>
          <strong>Latest Deprture Time</strong>: {{time_latest}} <br>
          <strong>Comments</strong>: {{comments}}
       </p>
     </div>
   </div>
 </body>
</html>